// app global css in SCSS form
body {
  font-family: 'Roboto';
}

.light {
  color: #fdfd96;
}

.camera-canvas {
  width: 100%;
  max-width: 800px; //limite pro pc
  aspect-ratio: 3 / 4; // mobile
  background-color: #000;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}
