// app global css in SCSS form
@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('./fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url('./fonts/Ubuntu-Light.ttf');
}

.my-font {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.my-font2 {
  font-family: 'Ubuntu Medium';
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.my-font3 {
  font-family: 'Ubuntu Light';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 165%;
}

.my-font4 {
}

.orange {
  background: #ffc23f;
}

.light {
  color: #fdfd96;
}
