// src/css/quasar.variables.scss

:root {
  --primary: #b57edc;
  --background: oklch(100% 0 0);
  --surface: oklch(91.58% 0.00435 198.402);

  --secondary: oklch(89% 0.058 10.001);
  --accent: oklch(78.743% 0.06607 98.953);
  --positive: oklch(87% 0.15 154.449);
  --negative: oklch(80% 0.114 19.571);
  --info: oklch(86% 0.127 207.078);
  --warning: rgb(255, 182, 103);
}

body.body--dark {
  --q-primary: #b57edc;
  --q-background: #282a36;
  --q-surface: oklch(49.865% 0.0402 277.727);

  --q-secondary: oklch(74.202% 0.148 301.883);
  --q-accent: oklch(83.392% 0.124 66.558);
  --q-positive: oklch(87.099% 0.219 148.024);
  --q-negative: oklch(68.22% 0.206 24.43);
  --q-info: oklch(88.263% 0.093 212.846);
  --q-warning: oklch(70.487% 0.1454 48.75);
}

$primary: var(--primary);
$secondary: var(--secondary);
$accent: var(--accent);
$positive: var(--positive);
$negative: var(--negative);
$info: var(--info);
$warning: var(--warning);
$background: var(--background);

$dark: #1d1d1d;
