// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

:root {
  --background: #0000ff;

  --primary: #b57edc;
  --secondary: #26a69a;
  --accent: #fdfd96;

  --dark: #1d1d1d;
  --dark-page: #121212;

  --positive: #c3f78d;
  --negative: #ff6961;
  --info: #ff6961;
  --warning: #ffae6a;
}

$background: #0000ff;

$primary: var(--primary);
$secondary: #26a69a;
$accent: #fdfd96;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #c3f78d;
$negative: #ff6961;
$info: #aedddd;
$warning: #ffae6a;
